$oppoCm: (fsxs: 10px,
  fss: 12px,
  fsxm: 13px,
  fsm: 14px,
  fsl: 16px,
  fsxl: 18px,
  fsxxl: 20px,
  fsxxxl: 24px,

  lhxs: 14px,
  lhs: 16px,
  lhxm: 18px,
  lhm: 19px,
  lhl: 21px,
  lhxl: 25px,
  lhxxl: 28px,

  fwbold: 700,
  fwmedium: 500,
  fwnormal: 400,
  fwlight: 300,

  spxxxxs: 3,
  spxxxs: 6,
  spxxs: 8,
  spxs: 10,
  sps: 12,
  spm: 14,
  spl: 16,
  spxl:18,
  spxxl: 20,
  spxxxl: 24,
  spxxxxl: 28,
  spcard: 24,

  brcircle: 100%,
  brxl: 12px,
  brl: 10px,
  brm: 8px,
  brs: 5px,
  brxs: 4px,
  brxxs: 2px,
);

$oppo: (clp: #2660F5,
  cld: #2ad181,
  clo: #f7f7f7,
  clb: rgba(0, 0, 0, 0.1),
  clb-1: rgba(0, 0, 0, 0.12),
  clv: #ffcb1b,
  clm: #EA3447,
  cls: #F7B500,
  cli: rgba(0, 0, 0, 0.04),
  clbf: #FFF,
  clbfs: rgba(0, 0, 0, 0.05),
  cllf: rgba(234, 52, 71, 0.1),
  // cll: '',
  clib: rgb(255, 255, 255),
  clih: rgba(0, 0, 0, 0.03),
  cllb: rgba(0, 0, 0, 0.04),
  clbtn: rgba(0, 0, 0, 0.04),

  // cbc: rgba(255, 255, 255, 0.65),
  cbc: rgba(255, 255, 255, 0.85),
  mwlabg: rgba(0, 0, 0, 0.6),

  fcdarkest: #000,
  fcdarker: rgba(0, 0, 0, 0.85),
  fcdark: rgba(0, 0, 0, 0.6),
  fcldark: rgba(0, 0, 0, 0.55),
  fcnormal: rgba(0, 0, 0, 0.55),
  fclight: rgba(0, 0, 0, 0.3),
  fclighter: rgba(0, 0, 0, 0.15),

  fcidarkest: #fff,
  fcidarker: rgba(255, 255, 255, 0.8),
  fcidark: rgba(255, 255, 255, 0.6),
  fcinormal: rgba(255, 255, 255, 0.5),
  fcilight: rgba(255, 255, 255, 0.3),
  fcilighter: rgba(255, 255, 255, 0.15),
);

$oppoDark: (clp: #2660F5,
  cld: #2ad181,
  clo: #333,
  clb: rgba(255, 255, 255, 0.2),
  clb-1: rgba(255, 255, 255, 0.12),
  clv: #ffcb1b,
  clm: #EA3447,
  cli: rgba(255, 255, 255, 0.1),
  clbf: rgb(0, 0, 0),
  clbfs: rgba(255, 255, 255, 0.05),
  cllf: rgba(234, 51, 71, 0.2),
  clib: #333,
  clih: rgba(255, 255, 255, 0.15),
  cllb: rgba(255, 255, 255, 0.04),
  clbtn: rgba(255, 255, 255, 0.2),

  cbc: rgba(0, 0, 0, 0.3),
  mwlabg: rgba(255, 255, 255, 0.6),

  fcdarkest: #fff,
  fcdarker: rgba(255, 255, 255, 0.85),
  fcdark: rgba(255, 255, 255, 0.6),
  fcldark: rgba(255, 255, 255, 0.55),
  fcnormal: rgba(255, 255, 255, 0.55),
  fclight: rgba(255, 255, 255, 0.3),
  fclighter: rgba(255, 255, 255, 0.15),

  fcidarkest: #000,
  fcidarker: rgba(0, 0, 0, 0.8),
  fcidark: rgba(0, 0, 0, 0.55),
  fcinormal: rgba(0, 0, 0, 0.5),
  fcilight: rgba(0, 0, 0, 0.3),
  fcilighter: rgba(0, 0, 0, 0.15),
);