.df {
  display: flex;
}

.dn {
  display: none;
}

.dif {
  display: inline-flex;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

// direction
.fdr {
  flex-direction: row;
}

.fdrr {
  flex-direction: row-reverse;
}

.fdc {
  flex-direction: column;
}

.fdcr {
  flex-direction: column-reverse;
}

// justify content
.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.aic {
  align-items: center;
}

.aib {
  align-items: baseline;
}

.ais {
  align-items: stretch;
}

// align self
.asa {
  align-self: auto;
}

.asfs {
  align-self: flex-start;
}

.asfe {
  align-self: flex-end;
}

.asc {
  align-self: center;
}

.asb {
  align-self: baseline;
}

.ass {
  align-self: stretch;
}

// align content
.acfs {
  align-content: flex-start;
}

.acfe {
  align-content: flex-end;
}

.acc {
  align-content: center;
}

.acsb {
  align-content: space-between;
}

.acsa {
  align-content: space-around;
}

.acs {
  align-content: stretch;
}

// fill
.ff {
  flex: 1 1 auto;
}

.f1 {
  flex: 1;
}

// grow and shrink
.fg0 {
  flex-grow: 0;
}

.fg1 {
  flex-grow: 1;
}

.fs0 {
  flex-shrink: 0;
}

.fs1 {
  flex-shrink: 1;
}

// wrap
.fww {
  flex-wrap: wrap;
}

.fwn {
  flex-wrap: nowrap;
}

.fwwr {
  flex-wrap: wrap-reverse;
}