.ht6 {
  display: block;
  padding: 0;
  margin: 0;
  height: 6px;
  transform: scaleY(1);
}

.bsbb {
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.w100 {
  width: 100%;
}

.clearfix {
  overflow: hidden;
  // &::after {
  //   display: block;
  //   clear: both;
  //   content: "";
  // }
}

// webkit line count
.wklc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
}

.ofat {
  overflow: auto;
}

@for $i from 1 through 10 {
  .lc#{$i} {
    @extend .wklc;
    -webkit-line-clamp: $i;
  }
}

// position center
.pac,
.pa_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// position center x
.pacx {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}

// position center y
.pacy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// fix center
.pfc {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pa_top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.pa_top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.pa_bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pa_bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

// text align left
.ta_left {
  text-align: left;
}

// text align right
.ta_right {
  text-align: right;
}

// text align center
.ta_center {
  text-align: center;
}

// text align justify
.ta_justify {
  text-align: justify;
}

.wsn {
  white-space: nowrap;
}

.thd {
  font-size: 0/0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.pos_relative {
  position: relative;
}