@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    $theme-map: () !global;

    @each $key,
    $submap in $map {
      $value: map-get(map-get($themes, $theme), "#{$key}");
      $theme-map: map-merge($theme-map,
          ($key: $value,
          )) !global;
    }

    @content;
    $theme-map: null !global;
  }
}

@mixin themifyCommon($themesCm) {

  @each $themeCm,
  $mapCm in $themesCm {
    $themesCm-map: () !global;

    @each $keyCm,
    $submapCm in $mapCm {
      $valueCm: map-get(map-get($themesCm, $themeCm), "#{$keyCm}");
      $themesCm-map: map-merge($themesCm-map,
          ($keyCm: $valueCm,
          )) !global;
    }

    @content;
    $themesCm-map: null !global;
  }

}

@function initThemes($oppo, $oppoDark) {
  @return ("00": $oppo);
}

@function initThemesCm($oppoCm) {
  @return (0: $oppoCm);
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function themedCm($key) {
  @return map-get($themesCm-map, $key);
}