.color-area-loading
  .color-area-loading__progress.color-area-loading__progress--static
  path[stroke-linecap="round"] {
  stroke: rgba(0, 124, 255, 1);
}

.color-area-loading
  .color-area-loading__progress.color-area-loading__progress--static
  path[stroke-linecap="butt"] {
  stroke: rgba(0, 124, 255, 0.15);
}

.color-area-loading {
  transition: none;
}

// html.no-dark,
// html.no-dark body.no-dark {
//   background-color: transparent !important;
// }

.color-emptytip {
  background: none !important;
}

.color-scroll--horizontal .color-scroll__inner {
  width: -webkit-max-content;
}

.color-load-more-error,
.color-load-more-finished,
.color-load-more-loading {
  padding-top: 0;
}

.card_box {
  .color-button--primary {
    background: #2660f5;
  }

  .color-button--primary-deep {
    background: #2660f5;
  }
}

.card_box {
  .color-loading
    .color-loading__progress.color-loading__progress--static
    path[stroke-linecap="butt"] {
    stroke: #2660f5;
  }

  .color-loading
    .color-loading__progress.color-loading__progress--static
    path[stroke-linecap="round"] {
    stroke: #84baf5;
  }
}

.card_box {
  .color-tabs .color-tabs__header:before,
  .color-tabs .color-tabs__header:after {
    background: none;
  }

  .color-tabs .color-tabs__selector:before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    transform: scaleY(0.5);
  }

  .color-tabs .color-tabs__selector-item {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
  }

  .color-tabs .color-tabs__selector-item--active {
    color: #2660f5;
  }

  .color-tabs .color-tabs__selector-active-bar:after {
    background-color: #2660f5;
    transform: scaleY(0.67);
  }
}

.error-page {
  top: 45%;
}

.color-tabs {
  .color-tabs__header {
    --background: none !important;
    --background2: none !important;
    .color-tabs__selector {
      background-color: transparent !important;
      .color-tabs__selector-item {
        .color-tabs__tab-title {
          text-align: center;
          color: rgba(255, 255, 255, 0.55);
          font-weight: 400;
        }
      }
      .color-tabs__selector-item--placeholder {
        flex-grow: 0;
        min-width: 24px;
        flex-basis: 24px;
      }
      .color-tabs__selector-item--first-placeholder {
        min-width: 16px !important;
        flex-basis: 16px !important;
        flex-grow: 0 !important;
      }

      .color-tabs__selector-item--active {
        .color-tabs__tab-title {
          text-align: center;
          font-weight: 500;
          color: rgba(255, 255, 255, 0.85);
        }
      }
      .color-tabs__selector-active-bar::after {
        background-color: rgba(255, 255, 255, 0.85);
        transform: scaleY(0.5);
      }
    }
  }
}

.color-tabs.color-tabs-prerender .color-tabs__selector-active-bar {
  display: none;
}

.gs_dark {
  .color-tabs
    .color-tabs__header
    .color-tabs__selector
    .color-tabs__selector-active-bar:after {
    background-color: transparent;
    transform: scaleY(0.5);
    background-image: url("~@/img/tab_dark_active_bar.png");
  }
}
